@import url('https://fonts.googleapis.com/css?family=Lato');
body {
    padding-top: 56px;
    font-family: 'Lato', sans-serif;
}

.jumbotron {
    color: steelblue;
}

.navbar-bkg-color {
    background: steelblue;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.pt25percent {
    padding-top: 25%;
}